db_creds.yaml
current_instructions.md
data_exploration_rds_user_data.ipynb
exploration_card_dets.ipynb
sales_data_db_creds.yaml
store_data_exploration.ipynb
products.csv
product_data_exploration.ipynb
orders_data_exploration.ipynb
events_data_exploration.ipynb